# Virtual envs / environments
ProjectEnv/
.venv/
venv/

# Model artifacts / data
models/
data/dataset/
data/__pycache__/

# Python caches
**/__pycache__/
*.py[cod]

# Pytest cache
.pytest_cache/

# Environment files
.env

# Bytecode again (in case)
*.pyc
